$color-white: #FFFFFF;
$color-green: #168F3B;

$color-bg-button-default: #181818;
$color-label-button-default: $color-white;

$color-bg-button-default--hover: #411e1e;
$color-label-button-default--hover: $color-white;

// CLUB MPM
// BACKGROUND
$color-bg-club-mpm: #333333;
$color-label-button-club-mpm: $color-white;

// BUTTONS
$color-bg-button-club-mpm: #181818;
$color-label-button-club-mpm--hover: $color-white;
$color-bg-button-club-mpm--hover: #411e1e;

// RULES
// BACKGROUND
$color-bg-rules: #181818;
// CONTAINER
$color-bg-rules--container: #333333;
// TITLE
$color-title-rules: $color-white;

// CATALOG
// HEADING
$color-title-catalog: #181818;
$color-subtitle-catalog: #181818;
// ITEM
$color-item-catalog: #181818;

// FOOTER
// BACKGROUND
$color-bg-footer: #181818;