$font-family: "Work Sans", sans-serif;

$typography-default: 400 20px/115% $font-family;

$typography-button: 700 1.125rem/125% $font-family;
$typography-heading-2: 400 2.75rem/110% $font-family;

$typography-club-mpm: 400 24px/125% $font-family;
$typography-footer-links: 400 1rem/125% $font-family;